@charset "utf-8";
/* CSS Document */
body,i,b, ul, ol, li, p, form, fieldset, img, div, dl, dt, dd, input, em, strong{ margin: 0; padding: 0; border: 0; font-weight:normal;  font-style:normal; outline:none;}
h1, h2, h3, h4, h5, h6 { margin:0; font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; font-weight:normal;}
img { display:block;}
ul, ol { list-style-type: none; }
textarea { overflow:hidden; resize:none; border:none; outline:none;}
select, input, img { vertical-align: middle; /*outline: none;*/ }
a { text-decoration: none;color:#000; }
a { blr:expression(this.onFocus=this.blur())
}
a ,input{ outline: none; }
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }